$navy: #052049;
$teal: #058488;
$green: #6ea400;
$blue: #0071ad;
$orange: #f26d04;

$purple: #716fb2;
$red: #eb093c;
$yellow: #fd0;

$white: #fff;
$near-white: #efefef;
$gray-lightest: #ddd;
$gray-lighter: #d1d3d3;
$gray-light: #b4b9bf;
$near-medium: #939393;
$gray: #333;
$gray-dark: #666;
$gray-darker: #525860;
$black: #000;
