//////////////////////////
// General Variables
// Note: colors should go into
// components/_patterns/00-base/global/01-colors/_color-vars.scss
// and breakpoint related vars into
// components/_patterns/00-base/_breakpoints.scss

// Fonts
$font-helvetica-neue-light: "HelveticaNeueLTW04-45Light";
$font-helvetica-neue-roman: "HelveticaNeueLTW04-55Roman";
$font-helvetica-neue-bold: "HelveticaNeueLTW06-75Bold";
$font-granjon: "GranjonLTW01-Roman";

$font-body: $font-helvetica-neue-light, "HelveticaNeue", "Helvetica", "Arial", sans-serif;
$font-heading: $font-granjon, Garamond, "Times New Roman", serif;

.helvetica-roman {
  font-family: $font-helvetica-neue-roman;
}
.helvetica-bold {
  font-family: $font-helvetica-neue-bold;
}
.granjon {
  font-family: $font-granjon;
}

// Spacing
$space: 1rem;

// times
$space-double: $space*2;
$space-triple: $space*3;
$space-quadruple: $space*4;
$space-quintuple: $space*5;
$space-sextuple: $space*6;
$space-septuple: $space*7;

// divided
$space-one-half: $space/2;
$space-one-third: $space/3;
$space-one-fourth: $space/4;
$space-one-fifth: $space/5;
$space-one-sixth: $space/6;
$space-one-seventh: $space/7;
$space-one-eighth: $space/8;
