@font-face {
    font-family: "GranjonLTW01-Roman";
    src: url("fonts/GranjonLTW01-Roman.eot?#iefix");
    src: url("fonts/GranjonLTW01-Roman.eot?#iefix") format("eot"),url("fonts/GranjonLTW01-Roman.woff2") format("woff2"),url("fonts/GranjonLTW01-Roman.woff") format("woff"),url("fonts/GranjonLTW01-Roman.ttf") format("truetype");
}
@font-face {
    font-family: "HelveticaNeueLTW04-45Light";
    src: url("fonts/HelveticaNeueLTW04-45Light.eot?#iefix");
    src: url("fonts/HelveticaNeueLTW04-45Light.eot?#iefix") format("eot"),url("fonts/HelveticaNeueLTW04-45Light.woff2") format("woff2"),url("fonts/HelveticaNeueLTW04-45Light.woff") format("woff"),url("fonts/HelveticaNeueLTW04-45Light.ttf") format("truetype");
}
@font-face {
    font-family: "HelveticaNeueLTW04-55Roman";
    src: url("fonts/HelveticaNeueLTW04-55Roman.eot?#iefix");
    src: url("fonts/HelveticaNeueLTW04-55Roman.eot?#iefix") format("eot"),url("fonts/HelveticaNeueLTW04-55Roman.woff2") format("woff2"),url("fonts/HelveticaNeueLTW04-55Roman.woff") format("woff"),url("fonts/HelveticaNeueLTW04-55Roman.ttf") format("truetype");
}
@font-face {
    font-family: "HelveticaNeueLTW04-56Italic";
    src: url("fonts/HelveticaNeueLTW04-56Italic.eot?#iefix");
    src: url("fonts/HelveticaNeueLTW04-56Italic.eot?#iefix") format("eot"),url("fonts/HelveticaNeueLTW04-56Italic.woff2") format("woff2"),url("fonts/HelveticaNeueLTW04-56Italic.woff") format("woff"),url("fonts/HelveticaNeueLTW04-56Italic.ttf") format("truetype");
}
@font-face {
    font-family: "HelveticaNeueLTW04-65Medium";
    src: url("fonts/HelveticaNeueLTW04-65Medium.eot?#iefix");
    src: url("fonts/HelveticaNeueLTW04-65Medium.eot?#iefix") format("eot"),url("fonts/HelveticaNeueLTW04-65Medium.woff2") format("woff2"),url("fonts/HelveticaNeueLTW04-65Medium.woff") format("woff"),url("fonts/HelveticaNeueLTW04-65Medium.ttf") format("truetype");
}
@font-face {
    font-family: "HelveticaNeueLTW06-75Bold";
    src: url("fonts/HelveticaNeueLTW06-75Bold.eot?#iefix");
    src: url("fonts/HelveticaNeueLTW06-75Bold.eot?#iefix") format("eot"),url("fonts/HelveticaNeueLTW06-75Bold.woff2") format("woff2"),url("fonts/HelveticaNeueLTW06-75Bold.woff") format("woff"),url("fonts/HelveticaNeueLTW06-75Bold.ttf") format("truetype");
}
